
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');

  /* Variables */

:root 
  --blanco #646c64
  --azul #f29c1d
  --bg-menu  #e1e0d9
  --bg-body #c7e1ff

    //Generales
*
    margin 0
    padding 0
    box-sizing border-box

body
    color var(--blanco)
    font-family: 'Quicksand', sans-serif

.menu-dashboard
    float left
    max-width 150px
    height 100vh
    background var(--bg-menu)
    padding 20px
    transition max-width 1s ease
    &:hover
      max-width 300px
      transition max-width 1s ease
      .top-menu 
        .logo
          img
            width 60px
            
          span
            display block
            transition all 0.3s ease
      .input-search
        width auto
        .input
          display: block
      .menu
        .enlace
            width auto
            padding 20px
          span 
            opacity 1
            transition opacity 1s ease;
          i
            margin-left: 0px
            transition margin-left 1s ease;

.top-menu
  display flex
  align-items center
  justify-content space-between
  .logo
    display flex
    aling-items center
    img
      width 100px
      transition width 1s ease
    span 
      font-size 20px
      margin-left 20px
      display none
  .toggle
    width 30px
    height: 20px
    display: flex
    align-items: center
    justify-content: space-between
    cursor pointer
    i
      font-size 35px

.input-search 
  width 100%
  margin 50px 0
  background-color var(--azul)
  padding 15px
  border-radius: 8px
  display: flex
  align-items: center
  i 
    font-size: 30px
    margin-right: 20px
  input
    border: none
    outline: none
    background-color: transparent
    width 100%
    height: 30px
    color: var(--blanco)
    font-size: 22px
    display none

.menu
  padding: 20px
  a
    text-decoration none
    color black
    .enlace
      width: 100%
      padding: 20px 0 20px 17px
      border-radius: 8px
      display: flex
      align-items: center
      margin-bottom: 20px
      cursor pointer
      font-size: 20px
      transition: all .3s ease
      i
        margin-right 20px
        font-size 30px
      span
        // display: none
        opacity 0
        transition opacity .1s ease;
      &:hover
        background-color: var(--azul)

    


.menu-dashboard.open
  max-width 300px
  .top-menu 
    .logo 
      span
        display block
  .input-search
    width auto
    .input
      display: block
  .menu
    .enlace
        width auto
        padding 20px
  
.open
  .menu
    .enlace
      span 
        display block
  





  

