
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');

  /* Variables */

:root 
  --blanco #e0e0e0;
  --azul #184463;
  --bg-menu #003053
  --bg-body #c7e1ff

    //Generales
*
    margin 0
    padding 0
    box-sizing border-box

body
    color var(--blanco)
    font-family: 'Quicksand', sans-serif

.menu-dashboard
    max-width 150px
    height 100vh
    background var(--bg-menu)
    padding 20px
    transition max-width .3s ease

.top-menu
    display flex
    align-items center
    justify-content space-between
  .logo
    display flex
    aling-items center
    img
      width 60px
      transition width .3s ease 
    span 
      font-size 20px
      margin-left 20px
      display none
  .toggle
    width 30px
    height: 20px
    display: flex
    align-items: center
    justify-content: space-between
    cursor pointer
    i
      font-size 35px

.input-search 
  width 100%
  margin 50px 0
  background-color var(--azul)
  padding 15px
  border-radius: 8px
  display: flex
  align-items: center
  i 
    font-size: 30px
    margin-right: 20px
  input
    border: none
    outline: none
    background-color: transparent
    width 100%
    height: 30px
    color: var(--blanco)
    font-size: 22px
    display none

.menu 
  .enlace
    width: 100%
    padding: 20px 0 20px 17px
    border-radius: 8px
    display: flex
    align-items: center
    margin-bottom: 20px
    cursor pointer
    font-size: 20px
    transition: all .3s ease
    i
      margin-right 20px
      font-size 25px
    span
      opacity 0
      transition opacity .3s ease;
    &:hover
      background-color: var(--azul)
    


.menu-dashboard.open
  max-width 300px
  .top-menu 
    .logo 
      span
        display block
  .input-search
    width auto
    .input
      display: block
  .menu
    .enlace
        width auto
        padding 20px
  
.open
  .menu
    .enlace
      span 
        opacity 1






  

