@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');

  /* Variables */

:root 
  --blanco #fafafa
  --orange #f29c1d
  --bg-menu  #e1e0d9
  --bg-body #ae5213
  --gray #646c64

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  height: 100%

body
  font-size: 1.2rem
  font-weight: bold
  min-height: 100%
  font-family: 'Quicksand', sans-serif
  background-color: #f29c1d

.grid-container > *
  box-shadow: -1px 1px 7px 0 rgba(0,0,0,0.75);
  border-radius: 4px
  padding: 10px
  text-align: center

.header
  grid-area header
  background-color: var(--blanco)
  display: flex
  justify-content: space-between
  .logo
    height: 50px
    width: auto
    img
      width: auto
      height: 50px
  ul
    list-style: none
    display: flex
    justify-content: center
    margin: 0
    li
      margin 0.75rem

.carrousel
  grid-area: carrousel
  background-color: var(--blanco)

.sidebar
  grid-area: sidebar
  background-color: var(--blanco)

.galery
  grid-area: galery
  background-color: var(--blanco)

.footer
  grid-area: footer
  background-color: var(--blanco)

.grid-container
  padding 5px
  display: grid;
  gap: 3px
  grid-template-rows auto 500px auto auto
  grid-template-columns:350px 1fr
  grid-template-areas:
    "header header"\
    "carrousel carrousel"\
    "sidebar galery"\
    "footer footer"\
  
// @media (min-width: 600px)
//   .grid-container
//     grid-template-columns:
//       repeat(2, 1fr)
//     grid-template-rows:
//       100px 50px auto 100px
//     grid-template-areas:
//       "header header"\
//       "carrousel carrousel"\
//       "sidebar galery"\
//       "sidebar galery"\

// @media (min-width: 900px)
//   .grid-container
//     grid-template-columns:
//       repeat(4, 1fr)
//     grid-template-rows:
//       100px auto 50px
//     grid-template-areas:
//       "cabeza cabeza cabeza cabeza"\
//       "barraalado principal principal navegacion"\
//       "pie pie pie pie"\




