@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');

  /* Variables */

:root 
  --blanco #fafafa
  --orange #f29c1d
  --bg-menu  #e1e0d9
  --bg-body #ae5213
  --gray #646c64

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  height: 100%

body
  font-size: 1.2rem
  font-weight: bold
  min-height: 100%
  font-family: 'Quicksand', sans-serif

.grid-container > *
  box-shadow: -1px 1px 7px 0 rgba(0,0,0,0.75);
  border-radius: 4px
  padding: 10px
  text-align: center

.header
  grid-area header
  background-color: var(--blanco)

.navbar
  grid-area: navbar
  background-color: var(--blanco)

.main
  grid-area: main
  background-color: var(--blanco)

.sidebar
  grid-area: sidebar
  background-color: var(--blanco)

.footer
  grid-area: footer
  background-color: var(--blanco)

.grid-container
  display: grid;
  gap: 10px
  grid-template-rows 100px 50px auto 100px
  grid-template-areas:"header"\
  "navbar"\
  "main"\
  "sidebar"\
  "footer"\
  
@media (min-width: 600px)
  .grid-container
    grid-template-columns repeat(2, 1fr)
    grid-template-rows 100px 50px auto 100px
    grid-template-areas:
      "header header"\
      "navbar navbar" \
      "sidebar main" \
      "footer footer"\

@media (min-width: 900px)
  .grid-container
    grid-template-columns repeat(4, 1fr)
    grid-template-rows 100px 50px auto 100px
    grid-template-areas: 
      "header header header header"\
      "navbar navbar navbar navbar"\
      "sidebar main main sidebar"\
      "footer footer footer footer"\
  



