.modalAdd
    display none
    position fixed
    z-index 1
    left: 0
    top 0
    width 100%
    height 100%
    overflow auto
    backdrop-filter: blur(10px)
    .modal-content
        margin 20px auto
        padding: 20px
        width: 750px
        border-radius: 5px
        .title
            font-size: 25px
            padding: 10px
            background-color: var(--azul)
        .inside
            padding: 10px